@font-face {
  font-family: 'Proxima-Nova--bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima-Nova--Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-family: 'Proxima-Nova--bold';
}
/*colors*/
/*basic settings*/
html {
  font-size: 10px;
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}
body {
  font-family: 'Proxima-Nova--Rg';
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap__block {
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  height: 7rem;
  font-size: 2rem;
  line-height: 7rem;
}
.button {
  background-color: #fab002;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
}
/*typography*/
section {
  padding: 10rem 0px;
}
/*main*/
main {
  padding: 3rem 0px;
}
