/*colors*/

@btn-color:#fab002;
@icon-color:#46b914;
@text-color:#1a1820;
@danger:#ff0000;
@bg-light:#f5f5f5;
@light:#fff;


/*basic settings*/

html{
  font-size: 10px;
  font-family:  Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
}

.header{
  height: 7rem;
}

.phone-link{
  display: inline-block;
  color: @text-color;
  font-weight: 900;
  height: 7rem;
  line-height: 7rem;
}

.button{
  background-color: @btn-color;
  color: @light;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: none;
  text-transform:uppercase;
}

/*typography*/

section{
  padding: 10rem 0px;
}

/*main*/

main{
  padding: 3rem 0px;
}
